#lista{
    color: cornflowerblue;

}
.customizar{
    font-style: italic;
    font-size: larger;

}
#cor-lista{
    color:darksalmon
}
#imagem-cesta{
    border-radius: 20%;
    width: 800px;
    height: 600px;
}