body{
    background-color: lightblue;
}
.menu{
    background-color: lightgray;
    padding: 10px 0;
}
nav ul{
    list-style: none;
    text-align: center;
}
nav li{
    display: inline-block;
    margin-right: 20px;
}
nav a:hover{
    color: red;
}